
/* Basic styles */

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Light-Cyan: hsl(179, 47%, 52%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: 'Karla', sans-serif;
  background-color: var(--Light-Gray);
  color: white;
}

h1 {
  font-size: 1.1em;
  color: var(--Cyan);
}

h2 {
  font-size: 0.9em;
  color: var(--Bright-Yellow);
}

h3 {
  font-size: 0.8em;

}

p {
  font-size: 0.8em;

}

.space-around {
  padding: 1.8rem;
}

/* End basic syles */

/* Container and boxes */


#container {
  border-radius: 10px;
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  box-shadow:
    0px 5px 20px var(--Grayish-Blue);
}

#box-1 {
  background-color: white;
  border-radius: 10px 10px 0 0;
}

#box-1 p {

  color: var(--Grayish-Blue);
  font-weight: 700;

}

#box-2 {
  background-color: var(--Cyan);
  border-radius: 0 0 0 10px;
}


span {
  font-size: 2.5em;
}


button {
  background-color: var(--Bright-Yellow);
  color: white;
  border: none;
  border-radius: 4px;
  width: 90%;
  height: 20%;
  margin-top: 1rem;
  box-shadow:
    0px 5px 10px rgba(0, 0, 0, 0.3);
}


#box-3 {
  background-color: var(--Light-Cyan);
  border-radius: 0 0 10px 0;
}

#box-3 p {
  line-height: 1.5em;
}

/* End Container and Boxes */

/* Footer */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media only screen and (min-width: 76.25em) {

  #container {
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  #box-1 {

    flex-basis: 100%;

  }

  #box-2 {

    flex: 1;
  }

  #box-3 {

    flex: 1;
  }

  h1 {
    font-size: 1.3em;
  }


}
